<div id=homepage-1>
<%= video_tag "homepage-video.mp4", :controls => false, :autoplay => true, :class => 'homepage-video', :loop => true %>
<div class=hero-video-overlay>
<div class=hero-video-overlay-inner>
<div class=hero-video-overlay-inner-2>
<h1 class=video-hero>Care, Better, Together.</h1>
</div>
</div>
</div>
</div> <!--.homepage-1-->




<div id=homepage-2 class=light>
<div class=container>
<div class="row extra-space">
	<div class="col-xs-4">
	<h3 class=hero>Streamlined Engagement</h3>
	<p class=other-features-caption>Automate population outreach through text and voice messaging, and save valuable time calling and following up.</p>
	</div>
	
		<div class="col-xs-4">
	<h3 class=hero>Tailored Messaging</h3>
	<p class=other-features-caption>Address the chronic disease burden through evidence-based programs designed for the hardest to manage populations.</p>
	</div>
	
	<div class="col-xs-4">
	<h3 class=hero>Robust Care Network</h3>
	<p class=other-features-caption>Strengthen the bonds between patients and their extended care family, including providers, payers and caregivers.</p>
	</div>
	
</div> <!--.row-->



<hr/>
<div class="row supporters">
<div class="col-xs-2"><%= image_tag("gs-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("yc-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("eg-logo.jpg", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("su-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("hf-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("pf-logo.jpg", class: "supporter-logo") %></div>
</div>


</div>

</div> <!--.homepage-3-->
