<div id=homepage-1>
<div class="container body-container">

<h1 class=hero>The world's best patient engagement platform.</h1>

<p class=hero-sub><a class="call-to-action demo">Watch a Demo</a><a class="call-to-action trial">Start a Free Trial</a></p>
<%= image_tag("hero.png", class: "hero") %>

</div>
</div> <!--.homepage-1-->

<div id=homepage-2>
<div class=container>
<div class=row>
<div class="col-md-4 col-sm-4">
<%= image_tag("remind.png", class: "hero-sub") %>
<h2 class=hero-sub>Remind</h2>
<p class=caption>caremessage automates tasks like appointment reminders so you can spend more time having meaningful conversations with your patients.</p>
</div>

<div class="col-md-4 col-sm-4">
<%= image_tag("motivate.png", class: "hero-sub") %>
<h2 class=hero-sub>Motivate</h2>
<p class=caption>Our content is designed to help and empower high risk chronically ill patients.</p>
</div>

<div class="col-md-4 col-sm-4">
<%= image_tag("educate.png", class: "hero-sub") %>
<h2 class=hero-sub>Educate</h2>
<p class=caption>We believe in tackling the underlying problems in healthcare and start with educating patients on how to lead healthier lives.</p>
</div>

</div>

</div>

</div>



<div id=homepage-3>
<div class=container>


<div class="row supporters">
<div class="col-xs-2"><%= image_tag("gs-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("yc-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("eg-logo.jpg", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("su-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("hf-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("pf-logo.jpg", class: "supporter-logo") %></div>
</div>


</div>

</div>