<!DOCTYPE html>
<html>
<head>
  <title>Caremessage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type=text/javascript>
    jQuery(document).ready(function () {
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll >= 25) {
                $(".primary-nav").addClass("visible");
            } else if (scroll < 25) {
                $(".primary-nav").removeClass("visible");
            }
        });
        
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll >= 200) {
                $(".secondary-nav").removeClass("secondary-visible");
            } else if (scroll < 200) {
                $(".secondary-nav").addClass("secondary-visible");
            }
        });
    });
</script>
  <%= csrf_meta_tags %>
</head>
<body>

   <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top primary-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="#">caremessage</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li><a>Home</a></li>
          <li><a>Product</a></li>
          <li><a>About</a></li>
          <li><a>Contact</a></li>
	      <li><a>Sign In</a></li> 
	      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!--End Navbar-->
    
       <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top secondary-nav secondary-visible" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="#">caremessage</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li><a>Home</a></li>
          <li><a>Product</a></li>
          <li><a>About</a></li>
          <li><a>Contact</a></li>
	      <li><a>Sign In</a></li> 
	      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!--End Navbar-->





<%= yield %>

<footer>
<div class=container>
<span class=footer-logo>caremessage</span>
<p class=footer-address>
424 Clay Street, Lower Level<br/>
San Francisco, CA 94104<br/>
<a href="mailto:info@caremessage.org" target=_blank>info@caremessage.org</a>
</p>
<hr/>
© 2014 caremessage <div class=social-icons-container>
<%= image_tag("fb-icon.png", class: "social-icon") %> <%= image_tag("tw-icon.png", class: "social-icon") %>
</div>
</div>
</footer>

</body>


</html>
