<!DOCTYPE html>
<html>
<head>
  <title>Caremessage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  

	<script type="text/javascript" src="//use.typekit.net/cpt8vwp.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= csrf_meta_tags %>
</head>


<body id="<%= body_id %>">

	<nav class="menu-overlay dark large-overlay">
	<h1 class=nav-hero>Navigation <span class="glyphicon glyphicon-remove-circle close-menu"></span></h1>
	<ul class=main>
	<li><a class=navigation>Home</a></li>
	<li><a class=toggle data-toggle="collapse" href="#product-collapse">Product</a></li>
	<div id="product-collapse" class="panel-collapse collapse">
		<ul class=sub>
		<li><a class=navigation>Platform</a></li>
		<li><a class=navigation>Programs</a></li>
		</ul>
	</div>
	<li><a class=toggle data-toggle="collapse" href="#partners-collapse">Partners</a></li>
	<div id="partners-collapse" class="panel-collapse collapse">
		<ul class=sub>
		<li><a class="navigation close-menu" href=/welcome/solutions/>Overview</a></li>
		<li><a class=navigation>Clinics</a></li>
		<li><a class=navigation>Hospitals</a></li>
		<li><a class=navigation>Payers</a></li>
		<li><a class=navigation>Advocates</a></li>
		<li><a class=navigation>Researchers</a></li>
		<li><a class=navigation>Government</a></li>	
		</ul>
	</div>
	<li><a class=navigation>About</a></li>

	</ul>
	</nav>
	
	<nav class="contact-overlay dark large-overlay">
	<h1 class=nav-hero>Contact Us</h1>
	<form>
	<input type="text" name="firstname" placeholder="First Name">
	<input type="text" name="lastname" placeholder="Last Name">
	<input type="email" name="email" placeholder="E–mail Address">
	<input type="text" name="phone" placeholder="Phone Number">
	<textarea rows="4" placeholder="Your Message"></textarea>
	<input type="submit" value="Submit" class=submit>
	
	</form>
	</nav>

   <div class=master>

   <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top primary-nav" role="navigation">
      <div class="container navbar-container">
     
        <div class="navbar-collapse collapse" id=contact-form-toggle>
          <ul class="nav navbar-nav navbar-right">
          <li><a class=open-contact><span class="glyphicon glyphicon-send"></span></a></li>       
	      </ul>
        </div><!--/.nav-collapse -->

      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <!--<a class="navbar-brand" href="#">caremessage</a>-->
         <%= image_tag("logo.png", class: "logo-main") %>
        </div>
        
        <div class="navbar-collapse collapse" id=menu-toggle>
          <ul class="nav navbar-nav navbar-right">
          <li><a class=open-menu><span class="glyphicon glyphicon-th-list"></span></a></li>       
	      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!--End Navbar-->
    
       <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top secondary-nav secondary-visible" role="navigation">
      <div class="container navbar-container">
     
        <div class="navbar-collapse collapse" id=contact-form-toggle>
          <ul class="nav navbar-nav navbar-right">
          <li><a class=open-contact><span class="glyphicon glyphicon-send"></span></a></li>       
	      </ul>
        </div><!--/.nav-collapse -->

      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <!--<a class="navbar-brand" href="#">caremessage</a>-->
         <%= image_tag("logo-dark.png", class: "logo-main") %>
        </div>
        
        <div class="navbar-collapse collapse" id=menu-toggle>
          <ul class="nav navbar-nav navbar-right">
          <li><a class=open-menu><span class="glyphicon glyphicon-th-list"></span></a></li>       
	      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!--End Navbar-->





<%= yield %>

<footer>
<div class=container>
<div class=row>
<div class=col-xs-12>
<nav class=footer-nav>
<ul class="col-xs-3 col-sm-2 col-md-2">
	<li class=footer-nav-heading>Product</li>
	<li><a>Platform</a></li>
	<li><a>Programs</a></li>
	<li><a>Sample Program</a></li>
	<li><a>Why Mobile?</a></li>
</ul>

<ul class="col-xs-3 col-sm-2 col-md-2">
	<li class=footer-nav-heading>Partners</li>
	<li><a>Clinics</a></li>
	<li><a>Hospitals</a></li>
	<li><a>Payers</a></li>
	<li><a>Advocates</a></li>
	<li><a>Researchers</a></li>
	<li><a>Government</a></li>
</ul>

<ul class="col-xs-3 col-sm-2 col-md-2">
	<li class=footer-nav-heading>About</li>
	<li><a>Our Story</a></li>
	<li><a>Values</a></li>
	<li><a>Team</a></li>
	<li><a>Careers</a></li>
</ul>



</nav>
</div>

</div> <!-- .row -->
<hr/>
© 2014 caremessage <div class=social-icons-container>
<%= image_tag("fb-icon.png", class: "social-icon") %> <%= image_tag("tw-icon.png", class: "social-icon") %>
</div>
</div>
</footer>


   </div> <!--.master-->
</body>

<script>
</script>
</html>
