<!DOCTYPE html>
<html>
<head>
  <title>caremessage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  

	<script type="text/javascript" src="//use.typekit.net/cpt8vwp.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= csrf_meta_tags %>
</head>


<body id="<%= body_id %>">

	<nav class="menu-overlay dark large-overlay">
	<h1 class=nav-hero>Menu <span class="close-menu x-icon">&times</span></h1>
	<ul class=main>
	<li><a class=navigation>Home</a></li>
	<li><a class=toggle data-toggle="collapse" href="#product-collapse">Product</a></li>
	<div id="product-collapse" class="panel-collapse collapse">
		<ul class=sub>
		<li><a class="navigation close-menu" href=/welcome/platform>Platform</a></li>
		<li><a class="navigation close-menu" href=/welcome/programs>Programs</a></li>
		</ul>
	</div>
	<li><a class=toggle data-toggle="collapse" href="#partners-collapse">Partners</a></li>
	<div id="partners-collapse" class="panel-collapse collapse">
		<ul class=sub>
		<li><a class="navigation close-menu" href=/welcome/partners/>Overview</a></li>
		<li><a class="navigation close-menu" href=/partners/clinics/>Clinics</a></li>
		<li><a class="navigation close-menu" href=/partners/hospitals/>Hospitals</a></li>
		<li><a class="navigation close-menu" href=/partners/payers/>Payers</a></li>
		<li><a class="navigation close-menu" href=/partners/government/>Government</a></li>
		<li><a class="navigation close-menu" href=/partners/researchers/>Researchers</a></li>
		<li><a class="navigation close-menu" href=/partners/organizers/>Organizers</a></li>
		</ul>
	</div>
	<li><a cclass="navigation close-menu" href=/welcome/about>About</a></li>

	</ul>
	</nav>
	
	<nav class="contact-overlay dark large-overlay">
	<h1 class=nav-hero>Contact Us <span class="close-menu x-icon">&times</span></h1>
	<form>
	<input type="text" name="firstname" placeholder="First Name">
	<input type="text" name="lastname" placeholder="Last Name">
	<input type="text" name="organization" placeholder="Organization">
	<input type="email" name="email" placeholder="E–mail Address">
	<input type="text" name="phone" placeholder="Phone Number">
	<textarea rows="4" placeholder="Your Message"></textarea>
	<input type="submit" value="Submit" class=submit>
	
	</form>
	</nav>

   <div class=master>

   <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top primary-nav" role="navigation">
      <div class="container navbar-container">
     
        <div class="navbar-collapse collapse" id=contact-form-toggle>
          <ul class="nav navbar-nav navbar-right">
          <li><a class=open-contact><span class="glyphicon glyphicon-send"></span></a></li>       
	      </ul>
        </div><!--/.nav-collapse -->

      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <!--<a class="navbar-brand" href="#">caremessage</a>-->
         <%= image_tag("logo.png", class: "logo-main") %>
        </div>
        
        <div class="navbar-collapse collapse" id=menu-toggle>
          <ul class="nav navbar-nav navbar-right">
          <li><a class=open-menu><span class="glyphicon glyphicon-th-list"></span></a></li>       
	      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!--End Navbar-->
    
       <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top secondary-nav secondary-hidden" role="navigation">
      <div class="container navbar-container">
     
        <div class="navbar-collapse collapse" id=contact-form-toggle>
          <ul class="nav navbar-nav navbar-right">
          <li><a class=open-contact><span class="glyphicon glyphicon-send"></span></a></li>       
	      </ul>
        </div><!--/.nav-collapse -->

      
        <div class="navbar-header">
          <!--<a class="navbar-brand" href="#">caremessage</a>-->
         <%= image_tag("logo-dark.png", class: "logo-main") %>
        </div>
        
        <div class="navbar-collapse collapse" id=menu-toggle>
          <ul class="nav navbar-nav navbar-right">
          <li><a class=open-menu><span class="glyphicon glyphicon-th-list"></span></a></li>       
	      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!--End Navbar-->





<%= yield %>

<footer>
<div class=container>
<div class=row>
<div class=col-xs-12>
<nav class=footer-nav>
<ul class="col-xs-3 col-sm-2 col-md-2">
	<li class=footer-nav-heading>Product</li>
	<li><a href=/welcome/platform/>Platform</a></li>
	<li><a href=/welcome/programs/>Programs</a></li>
	<li><a href=/welcome/mobile/>Why Mobile?</a></li>
</ul>

<ul class="col-xs-3 col-sm-2 col-md-2">
	<li class=footer-nav-heading>Partners</li>
	<li><a href=/partners/clinics/>Clinics</a></li>
	<li><a href=/partners/hospitals/>Hospitals</a></li>
	<li><a href=/partners/payers/>Payers</a></li>
	<li><a href=/partners/government/>Government</a></li>
	<li><a href=/partners/researchers/>Researchers</a></li>
	<li><a href=/partners/organizers/>Organizers</a></li>
</ul>

<ul class="col-xs-3 col-sm-2 col-md-2">
	<li class=footer-nav-heading>About</li>
	<li><a href=/welcome/about#team>Team</a></li>
	<li><a href=/welcome/about#values>Values</a></li>

</ul>



</nav>
</div>

</div> <!-- .row -->
<hr/>
© 2014 caremessage <div class=social-icons-container>
<%= image_tag("fb-icon.png", class: "social-icon") %> <%= image_tag("tw-icon.png", class: "social-icon") %>
</div>
</div>
</footer>


   </div> <!--.master-->
</body>

<script>

    jQuery(document).ready(function () {
        /*$(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll >= 25) {
                $(".primary-nav").addClass("visible");
            } else if (scroll < 25) {
                $(".primary-nav").removeClass("visible");
            }
        }); */
        
        
        
        
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll < 200) {
                $(".secondary-nav").removeClass("secondary-visible").addClass("secondary-hidden");
            }
        });
        
        $('.open-menu').on('click', function(e){
	        $('.master').addClass('moveleft');
		 	$('nav.menu-overlay').addClass('show-right');		
		});
		
	    $('.open-contact').on('click', function(e){
	        $('.master').addClass('moveleft');
		 	$('nav.contact-overlay').addClass('show-left');		
		});
		
	    $('.close-menu').on('click', function(e){
	        $('.master').removeClass('moveleft');
		 	$('nav.contact-overlay').removeClass('show-left');	
		 	$('nav.menu-overlay').removeClass('show-right');		
		});
		

		$(document).mouseup(function (e)
		{
		    var container = $(".large-overlay");
		
		    if (!container.is(e.target) // if the target of the click isn't the container...
		        && container.has(e.target).length === 0) // ... nor a descendant of the container
		    {
		        container.removeClass('show-right');
		        container.removeClass('show-left');
		        $('.master').removeClass('moveleft');
		    }
		});
		
		$('.solutions-body').blurjs({
			radius: 100,
			overlay: 'rgba(0,0,0,0.5)',
			offset: {			//Pixel offset of background-position
				x: 0,
				y: 0,
			},
		});
		
		$('.programs-hero-caption').blurjs({
			source: '#programs-hero',
			radius: 100,
			overlay: 'rgba(0,0,0,0.5)',
			offset: {			//Pixel offset of background-position
				x: 0,
				y: 0,
			},
		});

		/*$('#bio-container').blurjs({
			source: '#about-hero',
			radius: 100,
			overlay: 'rgba(0,0,0,0.2)',
			offset: {			//Pixel offset of background-position
				x: 0,
				y: 0,
			},
		});*/
        
     });
</script>
    

<script type='text/javascript'>//<![CDATA[ 
$(function(){
// Hide Header on on scroll down
var didScroll;
var lastScrollTop = 0;
var delta = 5;
var navbarHeight = $('header').outerHeight();

$(window).scroll(function(event){
    didScroll = true;
});

setInterval(function() {
    if (didScroll) {
        hasScrolled();
        didScroll = false;
    }
}, 250);

function hasScrolled() {
    var st = $(this).scrollTop();
    
    // Make sure they scroll more than delta
    if(Math.abs(lastScrollTop - st) <= delta)
        return;
    
    // If they scrolled down and are past the navbar, add class .nav-up.
    // This is necessary so you never see what is "behind" the navbar.
    if (st > lastScrollTop && st > navbarHeight){
        // Scroll Down
         $(".secondary-nav").removeClass("secondary-visible").addClass("secondary-hidden");
    } else {
        // Scroll Up
        if(st + $(window).height() < $(document).height() && $(window).scrollTop()>201) {
             $(".secondary-nav").addClass("secondary-visible").removeClass("secondary-hidden");
        }
    }
    
    lastScrollTop = st;
}
});//]]>  

</script>

</html>
